---
layout: default
---

    <!-- About   --> 
    {% include_relative /Home/biography.md %}

    <!-- Interests-->    
    {% include_relative /Home/research_interests.md %}

    <!-- Experience-->
    {% include_relative /Home/academic_positions.md %}

    <!-- Education-->
    {% include_relative /Home/education.md %}

        <!-- Awards-->    
    {% include_relative /Home/awards.md %}

     <!-- Teaching-->    
     {% include_relative /Home/teaching.md %}

    <!-- Skills-->
    {% include_relative /Home/skills.md %}    

    {{content}}

            
        